resources:
- name: inside-network
  type: compute.v1.network
  properties:
    routing-config:
      routingMode: REGIONAL
    name: inside-network
    description: "Machine to host linux vm 2 and CSR DHCP interface 10.0.1.2"
    autoCreateSubnetworks: false
    
outputs:
- name: inside-network
  value: $(ref.inside-network.selfLink) 